<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header-manager.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen-addProduct.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Thêm hàng hóa</title>
</head>

<body>
<% include ../layout/header-manager %>
<div class="content-page">
    <div class="content-header">
        <h1>THÊM MỚI HÀNG HOÁ</h1>
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#detail">Chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#moreInformation">Thông tin khác</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="detail">
                <div class="content-details">
                    <div class="content-details1">
                        <div class="form-group">
                            <label>Mã hàng hoá / SKU / Mã vạch</label>
                            <input type="text" class="form-control" placeholder="Tự động tạo mã">
                        </div>
                        <div class="form-group">
                            <label>Tên hàng hoá</label>
                            <input type="text" class="form-control" placeholder="Tên hàng hoá">
                        </div>
                        <div class="form-group">
                            <label>Giá bán</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Giá vốn</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="content-details2">
                        <div class="form-group">
                            <label> Nhiều mã vạch</label>
                            <input type="text" class="form-control" placeholder="Mã vạch 2">
                            <input type="text" class="form-control" placeholder="Mã vạch 3">
                            <input type="text" class="form-control" placeholder="Mã vạch 4">
                            <input type="text" class="form-control" placeholder="Mã vạch 5">
                        </div>
                    </div>
                    <div class="content-details3">
                        <div class="form-group">
                            <label for="select-group">Loại hàng</label>
                            <select class="form-control" id="select-group">
                                <option>Hàng hoá</option>
                                <option>Dịch vụ</option>
                                <option>Combo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="select-group">Tên nhóm</label>
                            <select class="form-control" id="select-group">
                                <option>Thuốc lá</option>
                                <option>Nước ngọt</option>
                                <option>Mỹ phẩm</option>
                                <option>Bánh kẹo</option>
                                <option>Văn phòng phẩm</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Tồn kho</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>VAT(%)</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">Quản lý theo số lô & hạn sử
                                dụng ?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="btn-nav">
                    <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Lưu</button>
                    <button type="button" class="btn btn-warning"> <a href="/product"> Thoát </a><i class="fas fa-forward"></i></button>
                </div>
            </div>
            <div class="tab-pane fade" id="moreInformation">
                <div class="form-group">
                    <label>Ghi chú nhanh khi bán hàng</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script src="/javascripts/header-manager.js"></script>

</html>