<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header-manager.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen-addProduct.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <title>Thêm hàng hóa</title>
</head>

<body>
<% include ../layout/header-manager %>
<% if (messages.error) { %>
    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
<% } %>
<div class="content-page">
    <div class="content-header">
        <h1>THÊM MỚI HÀNG HOÁ</h1>
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#detail">Chi tiết</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#moreInformation">Thông tin khác</a>
            </li>
        </ul>

        <!-- Tab panes -->
            <div class="tab-pane active" id="detail">
                <form action="/product/add" method="post">
                    <div class="content-details">
                        <div class="content-details1">
                            <div class="form-group">
                                <label>Mã hàng hoá / SKU / Mã vạch</label>
                                <input name="id" type="text" class="form-control" placeholder="Tự động tạo mã">
                            </div>
                            <div class="form-group">
                                <label>Tên hàng hoá</label>
                                <input name="name" type="text" class="form-control" required pattern=".*\S+.*" title="This field is required" placeholder="Tên hàng hoá">
                            </div>
                            <div class="form-group">
                                <label>Giá bán</label>
                                <input name="price" type="number" required pattern=".*\S+.*" title="This field is required" step="any" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Giá vốn</label>
                                <input name="origin_price" type="number" required pattern=".*\S+.*" title="This field is required" step="any" class="form-control">
                            </div>
                        </div>

                        <div class="content-details3">
                            <div class="form-group">
                                <label for="select-group">Tên nhóm</label>
                                <select name="product_group" class="form-control" id="select-group">
                                    <option value="">Không có</option>
                                    <option value="Thuốc lá">Thuốc lá</option>
                                    <option value="ĐỒ TRẺ EM">ĐỒ TRẺ EM</option>
                                    <option value="MỸ PHẨM">Mỹ phẩm</option>
                                    <option value="ĐỒ SINH HOẠT CÁ NHÂN">ĐỒ SINH HOẠT CÁ NHÂN</option>
                                    <option value="GIA VỊ">GIA VỊ</option>
                                    <option value="BÁNH KẸO">BÁNH KẸO</option>
                                    <option value="ĐỒ GIA DỤNG">ĐỒ GIA DỤNG</option>
                                    <option value="Văn Phòng Phẩm">Văn Phòng Phẩm</option>
                                    <option value="ĐỒ UỐNG SỮA">ĐỒ UỐNG SỮA</option>
                                    <option value="ĐỒ UỐNG NƯỚC">ĐỒ UỐNG NƯỚC</option>
                                    <option value="ĐỒ LÓT">ĐỒ LÓT</option>
                                    <option value="Kem">Kem</option>
                                    <option value="HÀNG NHẬP KHẨU">HÀNG NHẬP KHẨU</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Tồn kho</label>
                                <input name="quantity" type="number" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="btn-nav">
<!--                        <button type="button" class="btn btn-primary"><i class="fas fa-save"></i> Lưu</button>-->
                        <input type="submit" class="btn btn-primary" value="Lưu">
                        <button type="button" class="btn btn-warning" id="back_product">Thoát <i class="fas fa-forward"></i></button>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="moreInformation">
                <div class="form-group">
                    <label>Ghi chú nhanh khi bán hàng</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<script src="/javascripts/header-manager.js"></script>
<script src="/javascripts/addProduct.js"></script>

</html>