<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="shortcut icon" type="image/png" href="../img/logo.png">
    <meta name="description" content="Login">
    <meta name="author" content="DuyDoan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background-image: url('images/1.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;

        }
    </style>
</head>

<body>
<div class="top-login">
    <div class="logo-login">
        <img src="images/3.png" alt= "logo" height="150"; width="150">
    </div>

    <div id="container-login">
        <div id="title">
            <!-- <i class="material-icons lock">lock</i> Login -->
            <p>ĐĂNG NHẬP HỆ THỐNG</p>
        </div>
        <% if (message.length > 0) { %>
            <div class="alert alert-danger col-sm-12"><%= message %></div>
        <% } %>
        <form method="post" action="/login">
            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">person</i>
                </div>
                <input id="username" placeholder="Tên đăng nhập" type="text" name="user_name" required class="validate" autocomplete="off">
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input id="password" placeholder="Mật khẩu" type="password" name="password" required class="validate" autocomplete="off">
            </div>

            <br></br>
            <input type="submit"  class ="btn-login" value="Đăng nhập" />
        </form>

<!--        <div class="forgot-password">-->
<!--            <a href="javascript:void(0)">Quên mật khẩu?</a>-->
<!--        </div>-->
    </div>
</div>
<div class="footer">
    <span> © Copyright by TD Group - 2020</span>
</div>
</body>
<!--<script src="login.js"></script>-->

</html>
